<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en" />
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    {# Favicon and App icons #}
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('/icons/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('/icons//apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('/icons//apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('/icons//apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('/icons//apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('/icons//apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('/icons//apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('/icons//apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('/icons//apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('/icons//android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('/icons//favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('/icons//favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('/icons//favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('/icons//manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ asset('/icons//ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">

    <title>{% block title %}tipplebot!{% endblock %}</title>

	{% block stylesheets %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/solid.css" integrity="sha384-osqezT+30O6N/vsMqwW8Ch6wKlMofqueuia2H7fePy42uC05rm1G+BUPSd2iBSJL" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/fontawesome.css" integrity="sha384-BzCy2fixOYd0HObpx3GMefNqdbA7Qjcc91RgYeDjrHTIEXqiF00jKvgQG0+zY/7I" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
	{% endblock %}
</head>
<body class="">
<div class="page">
    <div class="page-main">
        <div class="header py-4">
            <div class="container">
                <div class="d-flex">
                    <a class="header-brand" href="#" style="color: #e0022f;">
                        <i class="fas fa-cocktail"></i> tipplebot
                    </a>
                    <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
                        <span class="header-toggler-icon"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg order-lg-first">
                        <ul class="nav nav-tabs border-0 flex-column flex-lg-row">

                            <li class="nav-item">
                                <a href="{{ path('menu') }}" class="nav-link"><i class="fas fa-cocktail"></i> Menu</a>
                            </li>

                            <li class="nav-item">
                                <a href="{{ path('ingredients') }}" class="nav-link"><i class="fas fa-wine-bottle"></i> Ingredients</a>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link"><i class="fas fa-clipboard-list "></i> Stock</a>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link"><i class="fas fa-file-alt"></i> Recipes</a>
                            </li>

                            {# Example drop down if we want it for later #}
                            {#<li class="nav-item">#}
                                {#<a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fe fe-box"></i> Interface</a>#}
                                {#<div class="dropdown-menu dropdown-menu-arrow">#}
                                    {#<a href="./cards.html" class="dropdown-item ">Cards design</a>#}
                                    {#<a href="./charts.html" class="dropdown-item ">Charts</a>#}
                                    {#<a href="./pricing-cards.html" class="dropdown-item ">Pricing cards</a>#}
                                {#</div>#}
                            {#</li>#}

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-3 my-md-5">
			{% block body %}{% endblock %}
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row align-items-center flex-row-reverse">
                <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
                    <a href="https://gitlab.com/tipplebot">tipplebox</a> is an open source project, made with <i class="fas fa-cocktail"></i> by Luke Cousins. UI theme by <a href="https://codecalm.net" target="_blank">codecalm.net</a>.
                </div>
            </div>
        </div>
    </footer>
</div>

{% block javascripts %}
    <script src="{{ asset('build/app.js') }}"></script>

    <script>
		requirejs.config({
			baseUrl: '.'
		});
    </script>
{% endblock %}

</body>
</html>