{% extends '_layout/base.html.twig' %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">Ingredients</h3>
						<div class="card-options">
							<a href="{{ path('ingredients_add') }}" class="btn btn-primary btn-sm"><i class="fas fa-plus"></i> Add</a>
						</div>
					</div>

					{% if ingredients|length > 0 %}
					<div class="table-responsive">
						<table class="table card-table table-vcenter text-nowrap">
							<thead>
							<tr>
								<th>Name</th>
								<th>Type</th>
								<th>Viscosity</th>
								<th>ABV</th>
								<th class="text-right">Actions</th>
							</tr>
							</thead>
							<tbody>
							{% for i in ingredients %}
								<tr>
									<td>{{ i.name }}</td>
									<td>{{ i.typeAsString }}</td>
									<td>{{ i.viscosity }} / 10</td>
									<td>{{ i.abv }}%</td>
									<td class="text-right"><a href="{{ path('ingredients_edit', { 'ingredientId': i.id }) }}" class="btn btn-primary btn-sm"><i class="fas fa-pencil-alt"></i> Edit</a></td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
					{% else %}
						<div class="card-body">There are no ingredients yet. <a href="{{ path('ingredients_add') }}">Add one</a>.</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}